<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="center">
    <div class="text-center">
      <div class="main-title">
        <h1>TabeGram</h1>
      </div>
      <div class="main_visual py-3">
        <%= image_tag "main_visual.jpg" %>
      </div>
      <%= link_to 'SIGN UP HERE!', signup_path, class: 'btn btn-lg btn-light border-warning' %>
    </div>
  </div>
<% end %>